
body {
    padding: 50px;
    background-image: url('/back.jpeg');
}

header {
    border-bottom: solid whitesmoke 5px;
    padding-bottom: 15px;
    display: flex;
}

.header-logo-div, .header-social-media-div {
    display: inline-block;
}

.header-img {
    border-radius: 200px;
}

.header-div-social {
    margin-left: 10px;
    width: 100%
}

.header-logo-div {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    color: #f9a602;
}

.header-social-media-div {
    float: right;
}

.header-social-li {
    color: white;
    display: inline-block;
}

li:not(:first-of-type) {
    margin-left: 30px;
}

.body-welcome-strong {
    color: #f9a602;
}

.welcome-strong-h1, .welcome-strong-h1-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.welcome-strong-h1-2 {
    font-size: 5rem;
}

.body-welcome-div {
    color: white;
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.display-inline-block {
    display: inline-block;
}

.margin-0 {
    margin: 0;
}

.margin-top-100 {
    margin-top: 100px;
}